/* Reset de márgenes y paddings */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif; 
  margin: 0;
  padding: 0;
  background: #0c151d; /* Degradado oscuro más sobrio */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Evitar centrar verticalmente */
  color: #f5f5f5; /* Color de texto más claro */
}

/* Works */
.works {
  padding: 2rem 1rem; /* Padding alrededor de la sección */
  margin: 1% auto; /* Centrar la sección con margen superior e inferior */
  max-width: 600px; /* Limitar el ancho de la sección para hacerla más angosta */
}

/* Header flotante */
header {
  position: fixed;
  top: 1rem; /* Espaciado desde la parte superior */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(44, 62, 80, 0.95); /* Color oscuro con ligera transparencia */
  padding: 1rem 2rem;
  border-radius: 15px; /* Bordes suavizados */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Sombra suave */
  z-index: 100;
  width: auto; /* Ajuste de ancho automático */
  max-width: 90%; /* Asegurar que no exceda el ancho en pantallas pequeñas */
}

header nav {
  width: 100%; /* Ocupa todo el ancho disponible */
}

header nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  transition: max-height 0.3s ease-in-out; /* Transición para el menú */
}

header nav ul li {
  margin: 0 1rem;
}

header nav ul li a {
  color: #f5f5f5;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}

header nav ul li a:hover {
  color: #1abc9c; /* Sutil cambio de color en hover */
}

/* Ajuste de margen superior para evitar solapamiento */
section {
  padding: 8rem 1.5rem; /* Mayor padding superior para el header flotante */
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

/* Secciones con bordes suavizados y sombras */
section, .skill, .carousel {
  background-color: rgba(255, 255, 255, 0.05); /* Fondo claro con transparencia */
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1.5rem 0;
  text-decoration: underline; /* Subrayado para decoración */
}

h1 {
  text-align: center;
  font-size: 2.5rem; /* Aumentar el tamaño del nombre */
  margin: 10px 0;
  color: #1abc9c; /* Color llamativo */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6); /* Sombra para mejorar visibilidad */
}

u {
  display: block; /* Asegura que se comporte como un bloque */
  text-align: center; /* Centrar texto */
  color: #6d6b6b;
  font-size: 1.1rem;
  line-height: 1.6;
}

p {
  text-align: justify; /* Justificar texto */
  color: #e0e0e0;
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Carousel */
.carousel {
  max-width: 635px; /* Ajustar el ancho máximo del carrusel */
  width: 100%; /* Asegurar que el carrusel use todo el ancho disponible */
  background-color: rgba(255, 255, 255, 0.05); /* Color consistente con el diseño */
  padding: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra para mejorar la estética */
  margin: 0 auto 2rem auto; /* Centrar el carrusel con margen inferior */
}

.carousel > div {
  max-width: 100%; /* Asegura que cada slide no exceda el ancho del carrusel */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar elementos dentro de cada slide */
}

.carousel img {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantener la proporción */
  border-radius: 10px;
}

/* Estilo del botón */
.button {
  background-color: #1abc9c; /* Color de fondo */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 10px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
}

.button:hover {
  background-color: #16a085; /* Color de fondo en hover */
}

/* Estilos del menú hamburguesa */
.hamburger {
  display: none; /* Oculto en pantallas grandes */
}

@media (max-width: 768px) {
  .header nav ul {
    display: none; /* Ocultar el menú por defecto */
    flex-direction: column; /* Menú vertical */
    max-height: 0; /* Colapsar el menú */
    overflow: hidden; /* Ocultar los elementos cuando el menú está cerrado */
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    width: 100%;
  }

  .header nav ul.show-menu {
    display: flex;
    justify-content: center; /* Centrar los elementos */
    align-items: center;
    gap: 20px; /* Añadir espaciado entre los elementos */
    flex-direction: column; /* Alinear en columna */
    transition: all 0.3s ease-in-out; /* Añadir una transición suave */
    max-height: 500px; /* Establecer una altura máxima para la transición */
  }

  .header nav ul li {
    margin: 10px 0; /* Espacio vertical entre los enlaces */
  }

  .header nav ul li a {
    font-size: 1.2rem; /* Aumentar ligeramente el tamaño del texto */
    color: #f5f5f5; /* Color claro */
    padding: 10px 20px; /* Añadir padding a los enlaces */
    text-decoration: none;
    width: 100%;
    text-align: center;
  }

  .header nav ul li a:hover {
    background-color: #1abc9c; /* Fondo en hover */
    border-radius: 5px;
    color: white;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    font-size: 2rem; /* Aumentar el tamaño del ícono de hamburguesa para mejorar la usabilidad */
    color: #f5f5f5;
    position: absolute;
    right: 20px;
    top: 20px;  
  }

  h1, h2, h3 {
    font-size: 1.875rem; /* Aproximadamente 30px */
  }

  p, li {
    font-size: 0.9rem; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
  }

  .about-me {
    flex-direction: column; /* Alineación en columna */
    text-align: center;
  }

  .profile-pic {
    margin-bottom: 1rem;
    width: 80%; /* Ajustar tamaño de la imagen en móviles */
    height: auto;
  }

  .info-container {
    text-align: center; /* Centra el contenido de la información */
    padding-left: 0;
  }

  .skills-list li {
    width: 90%; /* Asegura que el panel no sea muy ancho */
    padding: 0.4rem; /* Reducir el padding */
    border-radius: 5px; /* Redondear bordes */
    margin: 0.5rem auto; /* Centrar los ítems con margen */
  }

  .carousel {
    max-width: 100%; /* Reducir el ancho del deslizador en móviles */
    margin: 0 auto 2rem auto; /* Centrar el deslizador con margen inferior */
  }

  .carousel img {
    max-width: 100%;
    height: auto; /* Asegura que las imágenes escalen bien */
  }

  .carousel > div {
    max-width: 100%; /* Asegura que cada panel no exceda el ancho disponible */
    padding: 0.5rem; /* Ajusta el padding para que no ocupe demasiado espacio */
  }

  .works-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Centra y distribuye los elementos */
  }

  .works-list li {
    flex: 1 1 calc(50% - 20px); /* Cada ítem ocupará aproximadamente el 50% del ancho menos el gap */
    margin: 10px;
    padding: 0.4rem;
    font-size: 0.8rem; /* Reducir el tamaño de la letra */
    cursor: pointer; /* Añadir cursor pointer para indicar que es clicable */
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Espacio entre icono y texto */
    background-color: rgba(26, 188, 156, 0.2); /* Fondo sutil para los ítems */
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .works-list li:hover {
    background-color: rgba(26, 188, 156, 0.4); /* Cambio de fondo en hover */
  }

  .works-list li span {
    font-size: 0.75rem; /* Reducir el tamaño de la letra dentro de los botones */
  }

  .blue-text {
    display: block; /* Asegura que se comporte como un bloque */
    text-align: center; /* Centra el texto */
    margin: 0.5rem 0; /* Añade margen para separación */
  }

  .footer {
    padding: 1.5rem 0; /* Aumenta el padding */
    font-size: 1rem; /* Asegura que el texto no sea demasiado pequeño */
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
  }

  .footer .social-icons {
    display: flex; /* Asegura que los iconos estén en línea */
    justify-content: space-around; /* Espacia los iconos uniformemente */
    gap: 10px; /* Reducir la distancia entre iconos */
    flex-direction: row; /* Mantenerlos en fila horizontal */
    flex-wrap: wrap; /* Permitir que se envuelvan si es necesario */
  }
}
